.search-container {
    width: 100%;
    background-color: #191414;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.search-input {
    border: 1px solid #a9aaaf;
    background-color: #191414;
    padding: 10px;
    font-size: 18px;
    width: 80%;
    border-radius: 5px;
    color: white;
}
